/*.........................pages(1,2,3,4,5,6).html...........................*/
.container1{

    display: flex;
    justify-content: space-between;
    padding: 6%;
    }
    
    .planList{
        padding-left: 1rem;
    }
    
    
    .JoinUs{
       
        border: #92b398;
        
    }

    .section1, .section2 ,.section3, .section4,.planList p{

        font-size: 22px;
        
    }

    .b1 {
        position: relative;
        background-color: #92b398;
        border: none;
        font-size: 28px;
        color: #FFFFFF;
        padding: 6px;
        width: 200px;
        height: 50px;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
      }
      
      .b1:after {
        content: "";
        background: #90EE90;
        display: block;
        position: absolute;
        padding-top: 100%;
        padding-left: 350%;
        margin-left: -20px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
      }
      
      .b1:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
      }

img{

    width: 100%;
    height: auto;
    vertical-align: middle;
}
      .images {
        width: 45%;
        height: 45%;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 7%;
    }
      
    .images img {
        width: 100%;
        transition: 0.5s all ease-in-out;
    }
      
    .images:hover img {
        transform: scale(1.5);
    }


    
   

    .card-Sticky {
     background-color: #ffffff;
         text-align: center ;
         overflow: auto;
        position: -webkit-sticky;
        position: sticky;
        top: 5%;
        border-radius: 5%;
        opacity: 60%;
      }
      
      .main {
       
        display: flex;
        flex-direction: column;
      }
.cardPrice{
    border: #060807;

}