
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

html, body {
    background-color:#f3f1e8;
    color: #152659;
    font-family: 'Pangolin', cursive;
    font-weight: lighter;
    margin: 0;
    padding: 0; 
}

/*.........................header...........................*/
header {
    margin: 3%;
    font-size: 18px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
nav img {
    width: 100px;
    margin-left: 7%;
}
nav ul {
    display: flex;
    justify-content: space-between;  
    margin-right: 10%;
}
nav li {
    display: inline;
}
nav a {
    color: #152659;
    text-decoration: none;
    padding: 7px;
    margin: 7px;
    border-radius: 7%;
}
nav a:hover, .active {
    background-color: #f5ca6d;
}

/*.........................title_section...........................*/

.title_section {
    display: flex;
    align-items: center;
    font-size: 55px;
    text-align: center;
}
.line {
    border-bottom: 7px solid rgba(250, 250, 250, 0.784);
    margin-left: 0;
    margin-right: 0;
}
.title_section img {
    width: 70%;
    margin: 0%;
    padding: 0%;
}

/*.........................main container...........................*/

.second_description {
    margin: 80px;
    text-align: center;
    font-size: 35px;
}
.container {
    margin: 100px;
    display: grid;
    justify-content: center;
    grid-template-columns: 27% 27% 27%;
    column-gap: 6%;
    row-gap: 25%;   
    margin-bottom: 180px; 
}

/*.........................card section...........................*/
.card {
    padding: 7px;
    background: #fff;
    border-radius: 10px;
    position: relative; 
    transition: transform 1s ease-in-out;
}
.card-body {
    position: relative; 
    border: 1px dashed #ddd;
    min-height: 100px;
    background: #fff;
    z-index: 1; 
}
.card:hover {
    transform: translateY(-25px); 
    box-shadow: 0px 3px 10px 3px rgb(170 170 173 / 0.5);
    transition: transform 1s ease-in-out; 
}
.card:before { 
    content: ""; 
    width: 50%;
    height: 50%;
    position: absolute; 
    right: 0;
    top: 0;
    background: -webkit-linear-gradient(#d17b6a, #d17b6a);
    border-top-right-radius: 10px;
    transition: width 1s ease-in-out;
}
.card:after { 
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: -webkit-linear-gradient(#92b398, #92b398);
    border-bottom-left-radius: 10px;
    transition: width 1s ease-in-out;
}
.card:hover::before, .card:hover::after { 
    width: 100%;
    transition: width 1s ease-in-out;
}
.card-img {
    position: absolute; 
    right: 1px;
    top: -60px;
    text-align:end;
}
.card-img img {
    width: 150px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid rgb(170 170 173/ 1);
    box-shadow: 0px 3px 10px 3px rgb(170 170 173 / 0.5);
}
.card-content {
    margin-top: 120px;
    margin-left: 20px;
}
.card-link {
    color: #152659;
    text-decoration: none;
    padding: 8px;
    margin-left: 7px;
    border-radius: 10%;
    background-color: #92b398;
    color: white;
}

/*.........................footer...........................*/
footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* background-color: #f5ca6d; */
    background-color: #a29175;
    padding: 0% 10%;
}
.footer-name {
    font-size: 13px;
}
footer ul {
    display: flex;
    justify-content: center;
    text-align: end; 
    gap: 20px;
}
footer li {
    display: inline;
}
/*.........................Join us form...........................*/
label{
    font-size: 1rem;
}
.joinus-title{
    text-align: center;
}
.joinus-container{
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 10%;
}
.joinus-content{
    text-align: left;
}
.joinus-side-img {
    width:380px;
    /* height: 90%; */
    /* position: relative;
    bottom:0px; */
}
/*.........................join us responsive...............*/
@media only screen and (max-width: 500px) {
    .joinus-side-img {
        display: none;
    }
    .joinus-container{
        margin: 5px;
    }
}

/*.........................Contact us ...........................*/
.contactus-container{
    display: flex;
    align-items: center;
    font-size: 55px;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 10%;
}
.side-img{
    width: 20%;
    height: 75%;
    position: absolute;
    bottom: 60px;
}
.right{
    right: 0;
}
.left{
    left:0
}
.contact-content{
    text-align: center;
    width: 50%;
}
.contact-title{
    margin-top: 80px;
}

/*.........................Contact us and About us responsive ...............*/
@media only screen and (max-width: 768px) {
    .contact-title{
        font-size: 3rem;
        margin-top: 40px;
    }
}
@media only screen and (max-width: 500px) {
    .contactus-container{
        margin: 15%;
    }
    .right, .left{
        display: none;
    }
    .contact-content{
        width: 90%;
    }
    .contact-title{
        font-size: 2rem;
        margin-top: 0;
    }
    .joinus-container{
        flex-direction: column;
    }
}

/*.........................home page responsive...........................*/
@media only screen and (max-width: 1024px) {
    .title_section {
        font-size: 35px;
    }
    .container {
        margin: 70px;
        display: grid;
        justify-content: center;
        grid-template-columns: 31% 31% 31%;
        column-gap: 4%;
        row-gap: 25%;  
        margin-bottom: 180px;   
    }
}
@media only screen and (max-width: 768px) {
    header {
        font-size: 16px;
    }
    nav img {
        width: 90px;
        margin-left: 7%;
    }
    .title_section {
        font-size: 25px;
    }
    .second_description {
        margin-top: 60px;
        margin-bottom: 100px;
        font-size: 25px;
    }
    .container {
        margin: 30px;
        display: grid;
        justify-content: center;
        grid-template-columns: 45% 45%;
        column-gap: 5%;
        row-gap: 15%;    
        margin-bottom: 250px;
    }
    .card-img img {
        width: 160px;
    } 
}
@media only screen and (max-width: 520px) {
    header {
        font-size: 15px;
    }
    nav img {
        width: 70px;
        margin-left: 7%;
    }
    .title_section {
        font-size: 20px;
    }
    .second_description {
        margin-top: 50px;
        margin-bottom: 90px;
        font-size: 22px;
    }
    .container {
        margin: 80px;
        display: grid;
        justify-content: center;
        grid-template-columns: 93%;
        row-gap: 8%;    
        margin-bottom: 620px;
    }
}

    